<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <appSettings file="AppData/Custom.config">
    <add key="SourceURL" value="Please enter URL to fetch data from"/>
    <add key="TargetURL" value="Please enter URL to fetch data from"/>
  </appSettings>
</configuration>